<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<h2>Login</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="form-group row">
							<label for="user" class="col-sm-2 col-form-label">User</label>
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="Enter your user"
									v-model="credentials.username"
									label="Your user"
									icon="envelope"
									type="text"
								/>
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-sm-2 col-form-label"> password</label>
							<div class="col-sm-6">
								<input
									class="form-control"
									placeholder="Enter your password"
									v-model="credentials.password"
									label="Your password"
									icon="lock"
									type="password"
								/>
							</div>
						</div>
						<div class="rows">
							<div class="col text-left">
								<button class="btn btn-primary" @click="submit()">Login</button>
								<b-button :to="{ name: 'Signin' }">Sign in</b-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import * as types from "../store/mutation-types";

export default {
	data() {
		return {
			credentials: {
				username: "",
				password: ""
			},
			error: ""
		};
	},
	methods: {
		submit() {
			var credential = {
				user: this.credentials.username,
				password: this.credentials.password
			};
			let redirect = decodeURIComponent(this.$route.query.redirect || "/users");
			this.$store.dispatch(types.LOGIN, {
				credential: credential,
				redirect: redirect
			});
		}
	}
};
</script>
<style scoped></style>
