<template>
</template>
<script>
import * as types from '../store/mutation-types'
export default {
  mounted () {
    let redirect = decodeURIComponent(this.$route.query.redirect || '/login')
    this.$store.commit(types.LOGOUT, {
      redirect: redirect
    })
  }
}
</script>
<style scoped>
</style>
