<template>
  <div>
    <users/>
  </div>
</template>
<script>
  import users from "./users.vue";
  export default {
  name: 'main',
  data () {
    return {
    }
  },
      components: {
      users,
      }
}
</script>
