<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<h2>Sign in</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<form @submit="onSubmit">
							<div class="form-group row">
								<label for="user" class="col-sm-2 col-form-label">User</label>
								<div class="col-sm-6">
									<input
										type="text"
										placeholder="User"
										name="user"
										v-model="user"
										class="form-control"
									/>
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-sm-2 col-form-label"> Email</label>
								<div class="col-sm-6">
									<input
										type="email"
										placeholder="email"
										name="email"
										v-model="email"
										class="form-control"
									/>
								</div>
							</div>

							<div class="form-group row">
								<label for="firstName" class="col-sm-2 col-form-label">
									First name</label
								>
								<div class="col-sm-6">
									<input
										type="text"
										placeholder="first name"
										name="firstName"
										v-model="firstName"
										class="form-control"
									/>
								</div>
							</div>

							<div class="form-group row">
								<label for="lastName" class="col-sm-2 col-form-label"> Last name</label>
								<div class="col-sm-6">
									<input
										type="text"
										placeholder="Last name"
										name="lastName"
										v-model="lastName"
										class="form-control"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label for="password" class="col-sm-2 col-form-label"> password</label>
								<div class="col-sm-6">
									<input
										type="password"
										placeholder="password"
										name="password"
										v-model="password"
										class="form-control"
									/>
								</div>
							</div>
							<div class="rows">
								<div class="col text-left">
									<b-button :to="{ name: 'login' }" variant="warning"
										>back to login</b-button
									>
									<b-button type="submit" variant="primary">Sign in</b-button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
	data() {
		return {
			user: "",
			email: "",
			firstName: "",
			lastName: "",
			password: "",
			payload: ""
		};
	},
	methods: {
		onSubmit(event) {
			event.preventDefault();
			const path = "https://worky-test.herokuapp.com/api/v1.0/signin/";
			axios
				.post(path, {
					user: this.user,
					email: this.email,
					firstName: this.firstName,
					lastName: this.lastName,
					password: this.password
				})
				.then(response => {
					this.payload = response.data;
					Swal.fire({
						title: "you have been registered",
						icon: "success",
						text: "You can login now",
						focusConfirm: false,
						confirmButtonText: '<i class="fa fa-thumbs-up"></i> Ok'
					}).then(back => {
						if (back) {
							window.location.href = "/users/";
						}
					});
				})
				.catch(error => {
					console.debug(error.data);
					Swal.fire({
						icon: "error",
						title: "Oops... Something went wrong!",
						text: error
					});
				});
		}
	},
	created() {}
};
</script>

<style lang="css" scoped></style>
