<template>
	<div>
		<label>
			<input v-model="user" placeholder="User id" />
		</label>
		<b-button variant="warning" v-on:click="getUserById()">Search</b-button>
		<b-button variant="primary" :to="{ name: 'createuser' }">Add user</b-button>
		<b-button variant="danger" :to="{ name: 'logout' }">Logout</b-button>
		<h3 v-if="status === 204">User does not exist</h3>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Email</th>
					<th scope="col">Password</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">{{ userData.id }}</th>
					<td>{{ userData.firstName }}</td>
					<td>{{ userData.lastName }}</td>
					<td>{{ userData.email }}</td>
					<td>{{ userData.password }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import axios from "axios";
export default {
	data() {
		return {
			userData: "",
			user: "",
			error: "",
			status: 200,
			userLog: ""
		};
	},

	methods: {
		getUserById() {
			if (this.$data.user) {
				const path = `https://worky-test.herokuapp.com/api/v1.0/users/${this.$data.user}/`;
				// IDK if this is the correct get token, im just a backend
				const user = JSON.parse(localStorage.getItem("vuex"));
				this.userLog = user;
				axios
					.get(path, { headers: { Authorization: `Bearer ${user["token"]}` } })
					.then(response => {
						this.userData = response.data;
						this.status = response.status;
					})
					.catch(error => {
						this.error = error;
					});
			}
		}
	}
};
</script>
